@page "/account"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using Microsoft.IdentityModel.Tokens
@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.Containers
@using WeddingWebsite.Components.Dialogs
@using WeddingWebsite.Components.Elements
@using WeddingWebsite.Components.Pages.Rsvp
@using WeddingWebsite.Data.Models
@using WeddingWebsite.Models.Accounts
@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Models.Theme
@using WeddingWebsite.Models.WebsiteConfig
@using WeddingWebsite.Models.WebsiteElement
@using WeddingWebsite.Services
@using Section = WeddingWebsite.Components.Sections.Section

@attribute [Authorize]

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IWebsiteConfig Config
@inject IWeddingDetails WeddingDetails
@inject UserManager<Data.Account> UserManager
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject IStringProvider StringProvider

@rendermode InteractiveServer

<MudSnackbarProvider/>
<MudDialogProvider/>

<PageTitle>@StringProvider.MyAccount</PageTitle>

<CascadingValue TValue="SectionTheme" Value="ThemeNoBackground">
    <Section Center="true">
        <div style="margin-top: 150px"></div>
        <SectionHeading>@StringProvider.YourAccount</SectionHeading>
        <div class="account-content">
            <div class="account-details">
                <div class="account-detail">
                    <label for="username">@StringProvider.Username</label>
                    <MudSpacer/>
                    <input aria-disabled="true" value="@UserName" id="username" disabled/>
                </div>
                @if (!Email.IsNullOrEmpty() && UserName != Email)
                {
                    <div class="account-detail">
                        <label for="email">@StringProvider.EmailAddress</label>
                        <MudSpacer/>
                        <input aria-disabled="true" value="@Email" id="email" disabled/>
                    </div>
                }
                @if (ShowChangePassword)
                {
                    @* <Box CustomCss="margin-bottom: 20px;margin-top: 20px"> *@
                    @*     <h2 style="margin-bottom: 10px">Security Note</h2> *@
                    @*     <p style="text-align: left">Your password is stored securely in a way that cannot be accessed, even if the database is compromised.</p> *@
                    @*     <p style="text-align: left;margin-bottom: 0">If you forget your password, we can reset it, but we can't see what it is.</p> *@
                    @* </Box> *@
                    <EditForm Model="ChangePasswordInput" method="post" OnValidSubmit="ChangePassword" FormName="change-password">
                        <DataAnnotationsValidator />
                        <div class="account-detail">
                            <label for="old-password">@StringProvider.CurrentPassword</label>
                            <MudSpacer/>
                            <input type="password" @bind-value="ChangePasswordInput.OldPassword" id="old-password" placeholder="@StringProvider.OldPassword" />
                        </div>
                        <div class="account-detail">
                            <label for="new-password">@StringProvider.NewPassword</label>
                            <MudSpacer/>
                            <input type="password" @bind-value="ChangePasswordInput.NewPassword" id="new-password" placeholder="@StringProvider.NewPassword" />
                        </div>
                        <div class="account-detail">
                            <label for="confirm-new-password">@StringProvider.ConfirmPassword</label>
                            <MudSpacer/>
                            <input type="password" @bind-value="ChangePasswordInput.ConfirmNewPassword" id="confirm-new-password" placeholder="@StringProvider.NewPassword" />
                        </div>
                        <a class="password-security" @onclick="OpenPasswordDialog">@StringProvider.IsMyPasswordSafe</a>
                        <ValidationSummary class="text-danger" role="alert"/>
                        @if (ErrorText != "")
                        {
                            <p class="text-danger">@ErrorText</p>
                        }
                        <div class="change-password-buttons">
                            <button type="submit" style="background: @Theme?.Primary">@StringProvider.Submit</button>
                            <button class="cancel-button" @onclick="() => ShowChangePassword = false">@StringProvider.Cancel</button>
                        </div>
                    </EditForm>
                }
                else
                {
                    <div class="account-detail">
                        <label for="change-password">@StringProvider.Password</label>
                        <MudSpacer/>
                        <a id="change-password" @onclick="EnableChangePassword">@StringProvider.ChangePassword</a>
                    </div>
                }
            </div>
            <SectionHeading>@StringProvider.Guests</SectionHeading>
            @if (!Config.OptionalFeatures.Rsvp.IsActive())
            {
                <div class="warning-message">
                    <MudIcon Icon="@Icons.Material.Filled.Warning"/>
                    <p>@StringProvider.RsvpNotYetOpen</p>
                </div>
            }
            @if (Guests.Count() > 1)
            {
                <p>@StringProvider.AccountSharedWithGuests(Guests.Count())</p>
            }
            <RsvpGuestList Guests="Guests"/>

            @if (Guests.Any())
            {
                <p>@StringProvider.PlusOnesDescription</p>
            }
            else
            {
                <p>@StringProvider.NoGuestsWarning(WeddingDetails.LoginContactMethod?.Text)</p>
            }
        </div>
    </Section>
</CascadingValue>

<style>
    body {
        @(Theme?.Background.GetBackgroundCss() ?? Config.Colours.Surface.GetBackgroundCss()) !important;
    }
</style>

@code {
    [Inject]
    public required IAccountService AccountService { get; set; }
    [SupplyParameterFromForm]
    private ChangePasswordInputModel ChangePasswordInput { get; set; } = new();

    private IEnumerable<GuestWithId> Guests { get; set; } = [];
    private SectionTheme? Theme => Config.AccountConfig.Theme;
    private SectionTheme? ThemeNoBackground
    {
        get
        {
            if (Theme != null) return Theme with { Background = new NoBackground() };
            return null;
        }
    }

    private string ErrorText { get; set; } = "";
    private string UserName { get; set; } = "";
    private string Email { get; set; } = "";
    private bool ShowChangePassword { get; set; } = false;
    
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity is not { IsAuthenticated: true })
        {
            return;
        }
        
        Guests = AccountService.GetOwnGuests(user);
        
        UserName = user.Identity?.Name ?? "";
        var account = UserManager.FindByNameAsync(UserName).Result;
        Email = account?.Email ?? "";
    }

    private void EnableChangePassword()
    {
        ShowChangePassword = true;
    }
    
    private void ChangePassword()
    {
        if (Config.DemoMode.IsEnabled)
        {
            ErrorText = "Changing password is not permitted in demo mode.";
            return;
        }
        
        var account = UserManager.FindByNameAsync(UserName).Result;
        if (account == null)
        {
            ErrorText = "Could not find your account.";
            return;
        }
        
        var passwordValid = UserManager.CheckPasswordAsync(account, ChangePasswordInput.OldPassword).Result;
        if (!passwordValid)
        {
            ErrorText = "Access denied - The current password is incorrect.";
            return;
        }
        
        var token = UserManager.GeneratePasswordResetTokenAsync(account).Result;
        var result = UserManager.ResetPasswordAsync(account, token, ChangePasswordInput.NewPassword).Result;
        if (!result.Succeeded)
        {
            ErrorText = string.Join(" ", result.Errors.Select(e => e.Description));
        }
        else
        {
            ChangePasswordInput.OldPassword = "";
            ChangePasswordInput.NewPassword = "";
            ChangePasswordInput.ConfirmNewPassword = "";
            ShowChangePassword = false;
            ErrorText = "";
            
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomStart;
            Snackbar.Add("Password changed successfully.", Severity.Success, c => c.SnackbarVariant = Variant.Text);
            
            AccountService.Log(UserName, AccountLogType.ChangePassword, "User changed their password");
        }
    }
    
    private sealed class ChangePasswordInputModel
    {
        [Required]
        [DataType(DataType.Password)]
        [Display(Name = "Current Password")]
        public string OldPassword { get; set; } = "";

        [Required]
        [StringLength(100, ErrorMessage = "Passwords must be at least 5 characters.", MinimumLength = 5)]
        [DataType(DataType.Password)]
        [Display(Name = "New Password")]
        public string NewPassword { get; set; } = "";

        [DataType(DataType.Password)]
        [Display(Name = "Confirm New Password")]
        [Compare("NewPassword", ErrorMessage = "The password and confirmation password do not match.")]
        public string ConfirmNewPassword { get; set; } = "";
    }
    
    private Task OpenPasswordDialog() {
        var parameters = new DialogParameters<EventDialog> {
            { x => x.Content, [
                new WebsiteSection(null, "Your password is stored securely in a way that cannot be accessed by anyone, including us. Even if someone was to break into the system, they would not be able to see what your password is."),
                new WebsiteSection(null, "But don't worry if you forget your password - we can change it to something else for you without needing to see what it is.")
            ] },
            { x => x.Actions, [] }
        };
    
        return DialogService.ShowAsync<EventDialog>("Is My Password Safe?", parameters);
    }
}