@page "/"

@using WeddingWebsite.Components.Elements
@using WeddingWebsite.Components.Elements.Countdown
@using WeddingWebsite.Components.Layouts
@using WeddingWebsite.Components.WeddingSections
@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Models.Theme
@using WeddingWebsite.Models.WebsiteConfig
@using Section = WeddingWebsite.Models.WebsiteConfig.Section

@inject IWeddingDetails WeddingDetails
@inject IWebsiteConfig Config
@inject IStringProvider StringProvider

@layout NavbarScrollLayout

<MudSnackbarProvider/>

<PageTitle>@StringProvider.Home</PageTitle>

@((MarkupString)@WeddingDetails.MainImage.GetHtml("main-image"))

<div class="main-image-content">
    <h1 class="bride-and-groom-names" style="color: @Config.Colours.PrimaryBackground">
        @if (Config.BrideFirst)
        {
            <span><span class="first-name">@WeddingDetails.Bride.Name.First</span> & <span class="second-name">@WeddingDetails.Groom.Name.First</span></span>
        }
        else
        {
            <span><span class="first-name">@WeddingDetails.Groom.Name.First</span> & <span class="second-name">@WeddingDetails.Bride.Name.First</span></span>
        }
    </h1>
    @if (Config.DateDayBeforeMonth) {
        <h2 class="wedding-date">@(WeddingDetails.WeddingDate.Day.ToString("D2")).@(WeddingDetails.WeddingDate.Month.ToString("D2")).@(WeddingDetails.WeddingDate.Year)</h2>
    }
    else {
        <h2 class="wedding-date">@(WeddingDetails.WeddingDate.Month.ToString("D2")).@(WeddingDetails.WeddingDate.Day.ToString("D2")).@(WeddingDetails.WeddingDate.Year)</h2>
    }
    @if (!Config.Sections.Any(sect => sect is Section.Countdown)) {
        <CascadingValue Value="@(new SectionTheme(Colour.DarkGrey, Config.Colours.Primary, new BoxStyle(BoxType.FilledRounded, new SectionTheme(Config.Colours.PrimaryBackground, Config.Colours.Primary, null))))">
            <CountdownToDate CountdownTo="@WeddingDetails.WeddingDate.ToDateTime(WeddingDetails.Events.FirstOrDefault()?.Start ?? TimeOnly.Parse("13:00"))"/>
        </CascadingValue>
    }
    <CascadingValue Value="@(new SectionTheme(Colour.DarkGrey, Config.TopButtons.Colour ?? Config.Colours.Secondary, null))">
        <div class="top-buttons">
            @code {
                string buttonSpacing = "10px";
            }
            <span style="margin-left: @buttonSpacing"></span>
            @foreach (var button in Config.TopButtons.Buttons)
            {
                <GrowingLinkButton Data="button"/>
                <span style="margin-left: @buttonSpacing"></span>
            }
        </div>
    </CascadingValue>
</div>


<ValidationSection/>

@foreach (var sect in Config.Sections) {
    <CascadingValue Value="sect.Theme">
        @if (sect is Section.Countdown) { <CountdownSection/> }
        @if (sect is Section.Timeline timeline) { <TimelineSection ShowHeading="timeline.ShowHeading" ShowTravelDirections="timeline.ShowTravelDirections"/> }
        @if (sect is Section.SimpleTimeline) { <SimpleTimelineSection/> }
        @if (sect is Section.MeetWeddingParty party) { <MeetWeddingPartySection DisplayMode="party.DisplayMode" RolesLeft="party.RolesLeft" RolesRight="party.RolesRight"/> }
        @if (sect is Section.Contact contact) { <ContactSection ReasonsToShow="contact.ReasonsToShow" ShowUrgencyOption="contact.ShowUrgencyOption"/> }
        @if (sect is Section.DressCode dress) { <DressCodeSection WrapInBox="dress.WrapInBox" ShowContact="dress.ShowContact"/> }
        @if (sect is Section.VenueShowcase) { <VenueShowcaseSection/> }
        @if (sect is Section.Accommodation) { <AccommodationSection/> }
        @if (sect is Section.HowWeMet) { <HowWeMetSection/> }
        @if (sect is Section.Gallery) { <GallerySection/> }
        @if (sect is Section.TravelDirections) { <DirectionsSection/> }
        @if (sect is Section.TodoListSummary) { <TodoSummarySection/> }
    </CascadingValue>
}

<Footer/>


@code {

}
