@using WeddingWebsite.Models.WebsiteElement

@if (Element is WebsiteImage img) {
    @if (img.CustomSizes.Any())
    {
        <picture class="website-element @ClassName">
            @(string.Join("", img.CustomSizes.Select(size => $"<source srcset=\"{size.Src}\" media=\"(width >= {size.MinWidth}px)\">")))
            <img class="@ClassName" src=@img.Url alt="@img.AltText" />
        </picture>
    }
    else
    {
        <img class="website-element @ClassName" style="max-height: @MaxHeight; object-fit: @ObjectFit;@MaybeFillHeight" src=@(((WebsiteImage)Element).Url) alt=@(((WebsiteImage)Element).AltText) />
    }
} else if (Element is WebsiteGoogleMapsEmbed) {
    <GoogleMapsEmbed Location=@(((WebsiteGoogleMapsEmbed)Element).Location) Height="@MaxHeight" ClassName="@ClassName" />
} else if (Element is Models.WebsiteElement.LinkButton) {
    <LinkButton Url="@(((Models.WebsiteElement.LinkButton)Element).Link)">@(((Models.WebsiteElement.LinkButton)Element).Text)</LinkButton>
} else if (Element is Models.WebsiteElement.WebsiteLink) {
    <LinkButton Url="@(((Models.WebsiteElement.WebsiteLink)Element).Url)">@(((Models.WebsiteElement.WebsiteLink)Element).DisplayText)</LinkButton>
}
else if (Element is not null) {
    <p>Website element type not recognised: @Element?.GetType()</p>
}

@code {
    [Parameter]
    public IWebsiteElement? Element { get; set; }
    
    [Parameter]
    public string MaxHeight { get; set; } = "10000px";

    /// <summary>
    /// If false, no information should be discarded. If true, the element should fill the space even if it means
    /// cropping out parts of it. Currently, this ony affects images.
    /// </summary>
    [Parameter]
    public bool Cover { get; set; } = false;
    
    [Parameter]
    public string ClassName { get; set; } = "";

    private string ObjectFit => Cover ? "cover" : "contain";
    private string MaybeFillHeight => Cover ? "height: 100%;" : "";
}
