@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.Containers
@using WeddingWebsite.Components.Elements
@using WeddingWebsite.Components.WeddingComponents
@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Models.People
@using WeddingWebsite.Models.WebsiteConfig
@using WeddingWebsite.Models.Theme

@inject IWeddingDetails WeddingDetails
@inject IStringProvider StringProvider
@inject IWebsiteConfig Config

<Section>
    @if (WrapInBox)
    {
        <Box Horizontal="true" CustomCss="margin-bottom: 20px">
            <TopContent>
                <WebsiteElement Element="WeddingDetails.DressCode.Media" Cover="true" MaxHeight="350px"/>
            </TopContent>
            <ChildContent>
                <h2>@StringProvider.DressCode</h2>
                <DressCode Dress="WeddingDetails.DressCode" Contact="Contact"/>
            </ChildContent>
        </Box>
        
        <CascadingValue Value="@(new SectionTheme(Colour.DarkGrey, Config.DressCodeButtons.Colour ?? Config.Colours.Secondary, null))">
        <div class="dresscode-buttons" style="text-align: center;">
            <div>
            <span style="margin-left: @buttonSpacing"></span>
            @foreach (var button in Config.DressCodeButtons.Buttons)
            {
                <p></p>
                <GrowingLinkButton Data="button"/>
                <p></p>
                <span style="margin-left: @buttonSpacing"></span>
            }
            </div>
        </div>
    </CascadingValue>
    
    }
    else
    {
        <SectionHeading>@StringProvider.DressCode</SectionHeading>
        <SideBySide HalfSpacing="10px">
            <LeftContent>
                <div class="dress-code-no-box-image box-shadow">
                    <WebsiteElement Element="WeddingDetails.DressCode.Media" MaxHeight="300px" Cover="true"/>
                </div>
            </LeftContent>
            <RightContent>
                <DressCode Dress="WeddingDetails.DressCode" Contact="Contact"/>
            </RightContent>
        </SideBySide>
        <CascadingValue Value="@(new SectionTheme(Colour.DarkGrey, Config.DressCodeButtons.Colour ?? Config.Colours.Secondary, null))">
        <div class="dresscode-buttons" style="text-align: center;">
            <span style="margin-left: @buttonSpacing"></span>
            @foreach (var button in Config.DressCodeButtons.Buttons)
            {
                <p></p>
                <GrowingLinkButton Data="button"/>
                <p></p>
                <span style="margin-left: @buttonSpacing"></span>
            }
        </div>
    </CascadingValue>
    }
</Section>

@code {
    [Parameter] public required bool WrapInBox { get; set; }
    
    [Parameter] public required bool ShowContact { get; set; }
    
    string buttonSpacing = "10px";

    private IContact? Contact => !ShowContact ? null : 
        WeddingDetails.Contacts.FirstOrDefault(c => c.ContactDetails.NotUrgent.MatchesReason(ContactReason.DressCode))
        ?? WeddingDetails.Contacts.FirstOrDefault(c => c.ContactDetails.Urgent.MatchesReason(ContactReason.DressCode));

}
