@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Models.Gallery
@using WeddingWebsite.Models.Theme
@using WeddingWebsite.Models.WebsiteConfig
@using WeddingWebsite.Components.Elements

@inject IWeddingDetails WeddingDetails
@inject IStringProvider StringProvider
@inject IWebsiteConfig Config

@if (!WeddingDetails.Gallery.Favourites.Any()) return;

<Section Id='gallery'>
    <SectionHeading>@StringProvider.Gallery</SectionHeading>
    <MudCarousel TData="BigGalleryItem" ItemsSource="WeddingDetails.Gallery.Favourites" Style="@CarouselCss" AutoCycle="true" ShowArrows="true" @bind-SelectedIndex="CurrentIndex" EnableSwipeGesture="false">
        <ItemTemplate>
            <div class="carousel-item">
                @if (@context.Image.RunAtServer) {
                <img src="@context.Image.Url" runat="server" alt="@context.Image.AltText"/>
                }
                else {
                <img src="@context.Image.Url" alt="@context.Image.AltText"/>
                }
                @if (context.Title != "")
                {
                    <p class="title carousel-overlay-text">@context.Title</p>
                }
                @if (context.Description != "")
                {
                    <p class="description carousel-overlay-text">@context.Description</p>
                }
                @if (context.Credit != "")
                {
                    <p class="credit">@context.Credit</p>
                }
            </div>
        </ItemTemplate>
    </MudCarousel>

       <CascadingValue Value="@(new SectionTheme(Colour.DarkGrey, Config.GalleryButtons.Colour ?? Config.Colours.Secondary, null))">
        <div class="gallery-buttons" style="text-align: center;">
            @code {
                string buttonSpacing = "10px";
            }
            <span style="margin-left: @buttonSpacing"></span>
            @foreach (var button in Config.GalleryButtons.Buttons)
            {
                <p></p>
                <GrowingLinkButton Data="button"/>
                <span style="margin-left: @buttonSpacing"></span>
            }
        </div>
    </CascadingValue>

</Section>

<style>
    .mud-carousel > .mud-carousel-swipe {
        touch-action: auto !important;
    }
</style>

@code {
    private string CarouselHeight => WeddingDetails.Gallery.Favourites.Any() ? "600px" : "0px";
    private string CarouselCss => $"height: {CarouselHeight}; max-height: 100vw;";
    
    private int CurrentIndex { get; set; } = 0;
    private BigGalleryItem? CurrentItem => WeddingDetails.Gallery.Favourites.ElementAtOrDefault(CurrentIndex);
}
