@using WeddingWebsite.Components.Containers
@using WeddingWebsite.Components.Elements
@using WeddingWebsite.Models.Accommodation
@using WeddingWebsite.Models.ConfigInterfaces
@using LinkButton = WeddingWebsite.Components.Elements.LinkButton

@using WeddingWebsite.Models.WebsiteElement

@inject IStringProvider StringProvider

<div class="accommodation-emphasised-card">
    <Box Horizontal="true" CustomCss="margin-bottom: 20px">
        <TopContent>
            <WebsiteElement Element="Hotel.Media" Cover="true" />
        </TopContent>
        <ChildContent>
            <h3>@Hotel.Name</h3>
            <p>@Hotel.Description</p>
            <h4>@StringProvider.Address</h4>
            <p>@Hotel.Address.</p>
            <h4>@StringProvider.Distance</h4>
            <p>@StringProvider.DriveFromVenue(Hotel.DrivingTimeFromVenueMinutes)</p>
            <h4>@StringProvider.ApproximatePrice</h4>
            <p>@Hotel.ApproximatePrice.</p>
            <div class="buttons-container">
                <LinkButton Url="@Hotel.Link" Variant="ButtonVariant.Outlined">@StringProvider.VisitWebsite</LinkButton>
                <LinkButton Url="@Hotel.Location.GetGoogleMapsLink()" Variant="ButtonVariant.Outlined">@StringProvider.GoogleMaps</LinkButton>
            </div>
        </ChildContent>
    </Box>
</div>

@code {
    [Parameter]
    public required Hotel Hotel { get; set; }
}