@using MudBlazor
@using WeddingWebsite.Components.Containers
@using WeddingWebsite.Components.Elements
@using WeddingWebsite.Core
@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Models.People
@using WeddingWebsite.Models.Theme
@using WeddingWebsite.Models.WebsiteConfig

@inject IStringProvider StringProvider

<div class="container">
    <h2>@StringProvider.ContactUsEnterCategory</h2>
    <MudSelect Class="@MudSelectClass" @bind-Value="ContactReason" Label="@StringProvider.CategoryOfEnquiry" Variant="Variant.Outlined" Required="true">
        @foreach (var reason in ReasonsToShow) {
            <MudSelectItem Value="(ContactReason?) reason">@reason.GetEnumDescription()</MudSelectItem>
        }
    </MudSelect>

    @if (ShowUrgencyOption) {
        <h2>@StringProvider.ContactUsEnterUrgency</h2>
        <YesOrNoToggleGroup @bind-Value="IsUrgent"/>
        <p class="text-below">@ResponseTimelineString</p>
    }
    
    <h2>@StringProvider.SuggestedContacts</h2>
    @if (!MatchingContacts.Any()) {
        @if (ContactReason == null) {
            <p>@StringProvider.NoContactsBecauseNoCategory</p>
        } else {
            <p>@StringProvider.NoContactsMatched</p>
        }
    }
    @foreach (var contact in MatchingContacts) {
        <Box>
            <h3>@contact.NameAndRole</h3>
            @foreach (var method in contact.ContactDetails.GetOptions(Urgency).Methods) {
                @if (method.Link != null) {
                    <p>@method.Type: <a href="@method.Link" target="_blank" rel="noopener noreferrer">@method.Text</a></p>
                }
                else {
                    <p>@method.Type: @method.Text</p>
                }
            }
        </Box>
        <div style="height: 10px;"></div>
    }
</div>

@code {
    [Parameter]
    public required IEnumerable<IContact> Contacts { get; set; }
    
    [Parameter]
    public required IEnumerable<ContactReason> ReasonsToShow { get; set; }
    
    [Parameter]
    public required bool ShowUrgencyOption { get; set; }
    
    [CascadingParameter]
    public SectionTheme? Theme { get; set; }
    
    private string MudSelectClass => Theme is {Background.IsDark: true} ? "mud-component-on-dark-background": "";
    
    private ContactReason? ContactReason { get; set; }

    private bool? IsUrgent { get; set; } = false;
    private ContactUrgency Urgency => IsUrgent == true ? ContactUrgency.Urgent : ContactUrgency.NotUrgent;
    
    private string ResponseTimelineString => Urgency == ContactUrgency.Urgent ? "We'll get back to you as soon as possible." : "We'll get back to you within 48 hours.";
    
    private IEnumerable<IContact> MatchingContacts => ContactReason == null ? [] : Contacts
        .Where(c => c.ContactDetails.GetOptions(Urgency).MatchesReason(ContactReason.Value));

}