@using WeddingWebsite.Components.Containers
@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Models.Theme

@inject IStringProvider StringProvider

<a href="/registry/@Item.Id">
    <Box CustomCss="height: 300px;">
        <TopContent>
            @if (Item.ImageUrl != null)
            {
                <img src="@Item.ImageUrl" alt=""/>
            }
        </TopContent>
        <ChildContent>
            <p class="generic-name">@Item.GenericName</p>
            <h2>@Item.Name</h2>
            <div class="cost-and-button">
                @if (!Item.IsDonation)
                {
                    @if (Item.AllowsPartialContributions)
                    {
                            <p class="cost">@StringProvider.CurrencyAmount(Item.ClaimedAmount) contributed</p>
                    }
                    else
                    {
                        @if (Item.PurchaseMethods.Any())
                        {
                            <p class="cost">@StringProvider.CurrencyAmount(Item.CheapestCost)</p>
                        }
                        else
                        {
                            <p class="cost"></p>
                        }            
                    }
                }
                else
                {
                    <p class="cost"></p>
                }
                <button style="background: @ButtonColour">@ButtonText</button>
            </div>

        </ChildContent>
    </Box>
</a>

@code {
    [Parameter]
    public required Models.Registry.RegistryItem Item { get; set; }
    
    [Parameter]
    public string ButtonText { get; set; } = "View";
    
    [Parameter]
    public bool ButtonSuccess { get; set; } = true;
    
    [CascadingParameter]
    private SectionTheme? Theme { get; set; }
    
    private string ButtonColour => ButtonSuccess ? (Theme?.Primary.ToString() ?? "var(--primary)") : "#aaaaaa";
}
