@using WeddingWebsite.Models.Todo
@using WeddingWebsite.Services
@using WeddingWebsite.Components.Elements
@using System.Security.Claims

@inject ITodoService TodoService
@inject IAdminService AdminService
@inject ISnackbar Snackbar
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (Item == null)
{
    <div>ERROR: Item not found.</div>
    return;
}

<div class="todo-item">
    <div class="icon-and-text">
        @switch (Item.Status)
        {
            case TodoItemStatus.ActionRequired:
                <MudIcon Icon="@Icons.Material.Filled.Warning" Color="Color.Error" class="status-icon"/>
                break;
            case TodoItemStatus.Waiting:
                <MudIcon Icon="@Icons.Material.Filled.AccessTime" Color="Color.Info" class="status-icon"/>
                break;
            case TodoItemStatus.Completed:
                <MudIcon Icon="@Icons.Material.Filled.Done" Color="Color.Success" class="status-icon"/>
                break;
        }
        @if (IsEditing)
        {
            <input type="text" @bind="Text" class="todo-edit-input" placeholder="What needs doing?"/>
        }
        else
        {
            <div class="todo-text">@Item.Text</div>
        }
    </div>

    <div class="owner-and-end-buttons">
        <AuthorizeView Roles="Admin">
            <Authorized>
                @if (IsEditing)
                {
                    <MudAutocomplete @bind-Value="OwnerUserName" Dense="true" Clearable="true" SearchFunc="OwnerSearchFunction"/>
                }
                else
                {
                    @if (Item.OwnerUserName != null)
                    {
                        <div class="todo-owner">Owner: @Item.OwnerUserName</div>
                    }
                    else
                    {
                        <div class="todo-owner">No owner assigned</div>
                    }
                }
            </Authorized>
        </AuthorizeView>
        
        @if (IsEditing)
        {
            @if (Item.Group == null)
            {
                <MudIconButton OnClick="Group" Icon="@Icons.Material.Filled.Group" Color="Color.Primary"/>
            }

            <MudIconButton OnClick="SaveEdits" Icon="@Icons.Material.Filled.Save" Color="Color.Success"/>
            <MudIconButton OnClick="Delete" Icon="@Icons.Material.Filled.Delete" Color="Color.Error"/>
            <MudIconButton OnClick="CancelEdits" Icon="@Icons.Material.Filled.Cancel"/>
        }
        else
        {
            @if (Item.Status is TodoItemStatus.Waiting or TodoItemStatus.Completed)
            {
                <MudIconButton OnClick="MarkItemAsActionRequired" Icon="@Icons.Material.Filled.Warning"/>
            }

            @if (Item.Status == TodoItemStatus.ActionRequired)
            {
                <MudMenu Icon="@Icons.Material.Filled.AccessTime">
                    <MudMenuItem OnClick="() => MarkItemAsWaiting(3)" Label="3 days"/>
                    <MudMenuItem OnClick="() => MarkItemAsWaiting(7)" Label="1 week"/>
                    <MudMenuItem OnClick="() => MarkItemAsWaiting(30)" Label="1 month"/>
                </MudMenu>
            }

            @if (Item.Status is TodoItemStatus.ActionRequired or TodoItemStatus.Waiting)
            {
                <MudIconButton OnClick="MarkItemAsCompleted" Icon="@Icons.Material.Filled.Done"/>
            }

            <AuthorizeView Roles="Admin">
                <Authorized>
                    <MudIconButton OnClick="EnableEditMode" Icon="@Icons.Material.Filled.Edit"/>
                </Authorized>
            </AuthorizeView>
        }
    </div>

</div>

@code {
    [Parameter]
    public TodoItem? Item { get; set; }
    
    [Parameter]
    public EventCallback ParentStateHasChanged { get; set; }

    private IList<string> PossibleOwnerUserNames { get; set; } = [];
    
    private bool IsEditing { get; set; }
    private string Text { get; set; } = "";
    private string OwnerUserName { get; set; } = "";
    private ClaimsPrincipal CurrentUser { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        CurrentUser = authState.User;

        PossibleOwnerUserNames = AdminService.GetAllAccounts()
            .Where(a => a.UserName != null)
            .Select(a => a.UserName!)
            .ToList();
        
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
        Snackbar.Configuration.SnackbarVariant = Variant.Text;
    }
    
    private Task<IEnumerable<string>> OwnerSearchFunction(string value, CancellationToken token)
    {
        if (string.IsNullOrWhiteSpace(value))
            return Task.FromResult(PossibleOwnerUserNames as IEnumerable<string>);
        return Task.FromResult(PossibleOwnerUserNames.Where(userName => userName.Contains(value, StringComparison.InvariantCultureIgnoreCase)));
    }

    // Automatically enable edit mode for new items
    protected override void OnParametersSet()
    {
        if (Item != null && Item.Text == null)
        {
            IsEditing = true;
            Text = "";
        }
    }

    private void EnableEditMode()
    {
        if (Item == null) return;
        IsEditing = true;
        Text = Item.Text ?? "";
        OwnerUserName = Item.OwnerUserName ?? "";
        StateHasChanged();
    }
    
    private async Task SaveEdits()
    {
        if (!CurrentUser.IsInRole("Admin")) return;
        await ApplyToItem(item => TodoService.RenameItem(item.Id, Text));
        await ApplyToItem(item => TodoService.SetItemOwnerByUserName(item.Id, string.IsNullOrWhiteSpace(OwnerUserName) ? null : OwnerUserName));
        IsEditing = false;
        await InvokeAsync(StateHasChanged);
    }
    
    private async Task CancelEdits()
    {
        if (!CurrentUser.IsInRole("Admin")) return;
        IsEditing = false;
        if (Item?.Text == null)
        {
            // This prevents it from auto-enabling edit mode upon refresh, as the user has explicitly chosen for no text
            await ApplyToItem(item => TodoService.RenameItem(item.Id, ""));
        }
        await InvokeAsync(StateHasChanged);
    }
    
    private async Task ApplyToItem(Action<TodoItem> action)
    {
        if (Item == null) return;
        action(Item);
        Item = TodoService.GetTodoItem(Item.Id);
        await InvokeAsync(StateHasChanged);
        await ParentStateHasChanged.InvokeAsync();
    }
    
    /// <summary>
    /// Only officially supports undoing status changes from ActionRequired to Waiting/Completed.
    /// Arbitrary changes of status are permitted, but may not work properly (e.g. wait time will not be preserved).
    /// This is primarily intended for use on the homepage, where waiting/completed tasks will disappear from view.
    /// </summary>
    private async Task<Func<Task>> ApplyToItemWithUndoAction(Action<TodoItem> action)
    {
        if (Item == null) return () => Task.CompletedTask;
        var before = Item with {};
        await ApplyToItem(action);
        return async () =>
        {
            if (Item.Status != before.Status)
            {
                switch (before.Status)
                {
                    case TodoItemStatus.ActionRequired:
                        await MarkItemAsActionRequired();
                        break;
                    case TodoItemStatus.Waiting:
                        await MarkItemAsWaiting();
                        break;
                    case TodoItemStatus.Completed:
                        await MarkItemAsCompleted();
                        break;
                }
            }
            Item = TodoService.GetTodoItem(Item.Id);
            await InvokeAsync(StateHasChanged);
            await ParentStateHasChanged.InvokeAsync();
        };
    }

    private async Task MarkItemAsCompleted()
    {
        if (!CurrentUser.IsInRole("Admin")) return;
        var undoAction = await ApplyToItemWithUndoAction(item => TodoService.MarkItemAsCompleted(item.Id));
        Snackbar.Add($"Completed: {Item?.Text}", Severity.Success, config =>
        {
            config.Action = "Undo";
            config.ActionColor = Color.Warning;
            config.OnClick = async _ => { await undoAction(); };
        });
    }
    
    private async Task MarkItemAsWaiting(int days = 3)
    {
        if (!CurrentUser.IsInRole("Admin")) return;
        var undoAction = await ApplyToItemWithUndoAction(item => TodoService.MarkItemAsWaiting(item.Id, TimeSpan.FromDays(days)));
        Snackbar.Add($"Snoozed for {days} days: {Item?.Text}", Severity.Info, config =>
        {
            config.Action = "Undo";
            config.ActionColor = Color.Warning;
            config.OnClick = async _ => { await undoAction(); };
        });
    }
    
    private async Task MarkItemAsActionRequired()
    {
        if (!CurrentUser.IsInRole("Admin")) return;
        await ApplyToItem(item => TodoService.MarkItemAsActionRequired(item.Id));
        Snackbar.Add($"Marked as action required: {Item?.Text}", Severity.Warning);
    }
    
    private async Task Group()
    {
        if (!CurrentUser.IsInRole("Admin")) return;
        await ApplyToItem(item => TodoService.GroupItem(item.Id));
        if (Text == (Item?.Text ?? "") && OwnerUserName == (Item?.OwnerUserName ?? ""))
        {
            await CancelEdits();
        }
    }
    
    private async Task Delete()
    {
        if (!CurrentUser.IsInRole("Admin")) return;
        await ApplyToItem(item => TodoService.DeleteItem(item.Id));
        IsEditing = false;
    }
}
