@using WeddingWebsite.Models.WebsiteElement
@using WeddingWebsite.Models
@using WeddingWebsite.Models.Accommodation
@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Models.Events
@using WeddingWebsite.Models.Theme
@using WeddingWebsite.Models.WebsiteConfig

@inject IWebsiteConfig Config

<div class="desktop">
<MudTimeline TimelinePosition="TimelinePosition.Alternate">
    @foreach (var item in timelineItems) {
        <MudTimelineItem Size=@item.GetDotSize() Color=Color.Primary Elevation="25" UserAttributes="@(new Dictionary<string, object?> {{"id", item.GetId()}})">
            <ItemOpposite>
                <h3 style="color: @PrimaryColourAdjusted;@CssTextShadow">@item.Date @item.Time</h3>
            </ItemOpposite>
            <ItemContent>
                <TimelineItemBox Item="@item"/>
            </ItemContent>
            <ItemDot>
                @if (item.Icon != null) {
                    <MudIcon Icon=@item.Icon Style="width: 100%" />
                }
            </ItemDot>
        </MudTimelineItem>
    }
</MudTimeline>
</div>

<div class="mobile">
<MudTimeline TimelinePosition="TimelinePosition.Start">
    @foreach (var item in timelineItems) {
        <MudTimelineItem Size=@item.GetDotSize() Color=Color.Primary Elevation="25">
            <ItemContent>
                <h3 style="color: @PrimaryColourAdjusted;@CssTextShadow">@item.Time</h3>
                <TimelineItemBox Item="@item"/>
            </ItemContent>
            <ItemDot>
                @if (item.Icon != null) {
                    <MudIcon Icon=@item.Icon Style="width: 100%" />
                }
            </ItemDot>
        </MudTimelineItem>
    }
</MudTimeline>
</div>

@if (Theme?.Background.ExtraContrast == true) {
    <style>
        .mud-timeline-vertical.mud-timeline-position-alternate::before {
            right: calc(50% - 2px);
        }
        
        .mud-timeline-vertical::before {
            background: @Theme.Primary.ToString();
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
            width: 4px;
        }
    </style>
}

@code {
    
    [Parameter]
    public required IEnumerable<Event> Events { get; set; }
    
    [Parameter]
    public AccommodationDetails? AccommodationDetails { get; set; }
    
    [Parameter]
    public bool ShowTravelDirections { get; set; }

    [CascadingParameter]
    public SectionTheme? Theme { get; set; }
    
    private Colour PrimaryColour => Theme != null ? Theme.Primary : Config.Colours.Primary;
    private Colour PrimaryColourAdjusted => Theme?.Background.ExtraContrast == true ? PrimaryColour.Darken(0.7f) : PrimaryColour;
    
    private string CssTextShadow => Theme is { Background: { IsDark: false, ExtraContrast: true } } ? "text-shadow: 0 0 1px rgba(0, 0, 0, 1);" : "";
    
    private IEnumerable<TimelineItem> timelineItems = [];
    
    protected override void OnInitialized()
    {
        string? previousVenueName = null;
        TimeOnly? previousEndTime = null;
        
        foreach (var ev in Events)
        {
            // Generate a timeline item for the venue change
            if (ShowTravelDirections && previousVenueName != ev.Venue.Name && ev.Venue.Directions != null) {
                timelineItems = timelineItems.Append(GenerateTransportTimelineItem(ev, previousEndTime, previousVenueName));
            }
            
            // Update previous venue
            previousVenueName = ev.Venue.Name;
            previousEndTime = ev.End;
            
            // Generate a timeline item for the event itself
            timelineItems = timelineItems.Append(new TimelineItem
            (
                TimelineItemType.Event,
                ev.Date.ToShortDateString(),
                ev.Start.ToShortTimeString(),
                ev.Name,
                "",
                ev.Venue.Name,
                ev.LocationWithinVenue,
                ev.Modals,
                ev.Icon,
                ev.Image
            ) {
                Description = ev.Description
            });
        }
        
        // Finally, add an accommodation item if appropriate
        if (AccommodationDetails != null && AccommodationDetails.Hotels.Any()) {
            timelineItems = timelineItems.Append(GenerateAccommodationTimelineItem());
        }
    }
    
    private TimelineItem GenerateTransportTimelineItem(Event ev, TimeOnly? previousEndTime, string? previousVenueName) {
        return new TimelineItem (
            type : TimelineItemType.VenueChange,
            date : ev.Date.ToShortDateString(),
            time : previousEndTime?.ToShortTimeString() ?? "Start",
            title : "Getting There",
            description : ev.Venue.Directions!.Description,
            venueName : previousVenueName != null ? previousVenueName + " → " + ev.Venue.Name : "Your House → " + ev.Venue.Name,
            locationWithinVenue: null,
            modals : [new WeddingModal("Travel Directions", ev.Venue.Directions!.Content.Prepend(GenerateTransportTopSection(ev.Venue)))],
            icon: Icons.Material.Filled.DirectionsCar,
            image : ev.Venue.Directions?.CoverImage,
            mapsLocation: ev.Venue.Directions?.CoverImage == null ? ev.Venue.Location : null
        );
    }
    
    private WebsiteSection GenerateTransportTopSection(Venue venue) {
        return new WebsiteSection("Address", venue.Address, new WebsiteGoogleMapsEmbed(venue.Location));
    }
    
    private TimelineItem GenerateAccommodationTimelineItem()
    {
        if (AccommodationDetails == null) throw new ArgumentNullException();
        var modals = AccommodationDetails.Hotels.Where(hotel => hotel.Emphasise).Select(GenerateAccommodationDetails).ToList();
        if (AccommodationDetails.Hotels.Count == 1)
        {
            modals[0] = modals[0] with { Label = "Recommended Hotel" };
        }
        if (AccommodationDetails.Hotels.Any(hotel => !hotel.Emphasise))
        {
            modals = modals.Append(GenerateAccommodationDetailsOther(AccommodationDetails.Hotels.Where(hotel => !hotel.Emphasise), AccommodationDetails.Hotels.Any(hotel => hotel.Emphasise))).ToList();
        }
        return new TimelineItem(
            TimelineItemType.Accommodation,
            Events.LastOrDefault()?.Date.ToString(),
            Events.LastOrDefault()?.End.ToString() ?? "End",
            "Accommodation",
            AccommodationDetails.Description ?? "If you would like to book accommodation, here are some recommendations",
            GenerateAccommodationShortString(),
            null,
            modals,
            @Icons.Material.Filled.Hotel,
            AccommodationDetails.Image
        );
    }
    
    private WeddingModal GenerateAccommodationDetails(Hotel hotel) {
        return new WeddingModal(
            hotel.Name,
            (hotel.Media == null ? new List<WebsiteSection>() : [new WebsiteSection(hotel.Media)]).Concat(
                new List<WebsiteSection>()
                {
                    new WebsiteSection(
                        "",
                        hotel.Description
                    ),
                    new WebsiteSection(
                        "Address",
                        hotel.Address + "."
                    ),
                    new WebsiteSection(
                        "Distance",
                        $"{hotel.DrivingTimeFromVenueMinutes} min drive from the venue."
                    ),
                    new WebsiteSection(
                        "Approximate Price",
                        hotel.ApproximatePrice + "."
                    ),
                    new WebsiteSection(
                        "Map",
                        "",
                        new WebsiteGoogleMapsEmbed(hotel.Location)
                    )
                }
            ),
            hotel.Name,
            [
                new Models.WebsiteElement.LinkButton("Go to Website", hotel.Link)
            ]
        );
    }

    private WeddingModal GenerateAccommodationDetailsOther(IEnumerable<Hotel> hotels, bool someEmphasised)
    {
        return new WeddingModal(
            someEmphasised ? "Other Options" : "Suggested Hotels",
            hotels.Select(hotel => new WebsiteSection(
                hotel.Name + " (£" + hotel.ApproximatePrice.DiscountedPrice + ")",
                [
                    "",
                    hotel.Description,
                    hotel.Address + " (" + hotel.DrivingTimeFromVenueMinutes + " min drive)."
                ],
                new LinkButton("Visit Website", hotel.Link)
            ))
        );
    }
    
    private string GenerateAccommodationShortString() {
        if (AccommodationDetails == null) throw new ArgumentNullException();
        if (!AccommodationDetails.Hotels.Any(hotel => hotel.Emphasise)) {
            return AccommodationDetails.Hotels.Count + " options";
        } else
        {
            var emphasisedHotels = string.Join(", ", AccommodationDetails.Hotels.Where(hotel => hotel.Emphasise).Select(hotel => hotel.Name));
            var numOthers = AccommodationDetails.Hotels.Count(hotel => !hotel.Emphasise);
            if (numOthers == 0) return emphasisedHotels;
            return emphasisedHotels + " (or " + numOthers + " others)";
        }
    }
    
    public class TimelineItem (
        TimelineItemType type,
        string date,
        string time,
        string title,
        string description,
        string venueName,
        string? locationWithinVenue,
        IEnumerable<WeddingModal> modals,
        string? icon = null,
        WebsiteImage? image = null,
        Location? mapsLocation = null
    )
    {
        public TimelineItemType Type { get; } = type;
        public string Date { get; } = date;
        public string Time { get; } = time;
        public string Title { get; } = title;
        public IEnumerable<WebsiteSection> Description { get; init; } = [new (null, description)];
        public string VenueName { get; } = venueName;
        public string? LocationWithinVenue { get; } = locationWithinVenue;
        public IEnumerable<WeddingModal> Modals { get; } = modals;
        public string? Icon { get; } = icon;
        public WebsiteImage? Image { get; } = image;
        public Location? MapsLocation { get; } = mapsLocation;
        
        public Size GetDotSize() => Icon == null ? Size.Small : Size.Medium;
        public string GetId() => "";
    };
    
    public enum TimelineItemType
    {
        VenueChange,
        Event,
        Accommodation
    }
}
