@page "/Registry/{ItemId}"
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using Microsoft.IdentityModel.Tokens
@using WeddingWebsite.Components.Containers
@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.Elements
@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Models.Registry
@using WeddingWebsite.Models.WebsiteConfig
@using WeddingWebsite.Services
@using Section = WeddingWebsite.Components.Sections.Section

@inject IRegistryService RegistryService
@inject IWeddingDetails WeddingDetails
@inject IWebsiteConfig Config
@inject AuthenticationStateProvider AuthStateProvider
@inject IStringProvider StringProvider

<PageTitle>Registry - @Item?.GenericName</PageTitle>

@if (Item == null)
{
    <div class="not-found">
        <p>@StringProvider.ItemNotFound</p>
        <GrowingLinkButton Data=@(new Models.WebsiteElement.LinkButton(@StringProvider.BackToRegistry, "/registry"))/>
    </div>
    return;
}

<CascadingValue Value="Config.RegistryItemConfig.Theme">
    <div style="margin-bottom: 70px"></div>
    <Section>
        <BackLink Url="/registry" Text=@StringProvider.BackToRegistry/>
        <SideBySide HalfSpacing="10px">
            <LeftContent>
                <img src="@Item.ImageUrl" alt=""/>
            </LeftContent>
            <RightContent>
                <h1>@Item.Name</h1>
                <p class="description">@Item.Description</p>
                @if (Item.MaxQuantity != 1)
                {
                    <p>@StringProvider.QuantityClaimed(Item.QuantityClaimed, Item.MaxQuantity)</p>
                }
                <h2>@StringProvider.PurchaseOptions</h2>
                @if (UserId != null && Item.NumClaimsByUser(UserId) > 0)
                {
                    if (Item.GetClaimByUser(UserId).PurchaseMethodId == null
                        || ((Item.GetPurchaseMethodByUser(UserId).AllowDeliverToUs || Item.GetPurchaseMethodByUser(UserId).AllowBringOnDay) && Item.GetClaimByUser(UserId).DeliveryAddress == null))
                    {
                        <p class="text-danger claim-item-description">@StringProvider.DoNotPurchaseBeforeDetails</p>
                    }
                }
                else
                {
                    <p class="text-danger claim-item-description">@StringProvider.DoNotPurchaseBeforeClaiming</p>
                }
                @foreach (var method in Item.PurchaseMethods)
                {
                    @if (method.Url != null)
                    {
                        <a href="@method.Url" target="_blank" rel="noopener noreferrer" class="purchase-option">
                            <Box>
                                <div class="purchase-option-content">
                                    <p class="purchase-option-name">@method.Name</p>
                                    <MudSpacer/>
                                    <p class="purchase-option-cost">@StringProvider.CurrencyAmount(method.Cost)</p>
                                    @if (Item.AllowsPartialContributions)
                                    {
                                    <p class="purchase-option-cost-remaining">(Remaining: @StringProvider.CurrencyAmount(Item.RemainingCost()))</p>
                                    }
                                    @if (method.DeliveryCost > 0)
                                    {
                                        <p class="purchase-option-delivery-cost">@StringProvider.DeliveryCost(method.DeliveryCost)</p>
                                    }
                                    <Button>@StringProvider.View</Button>
                                </div>
                            </Box>
                        </a>
                    }
                    else
                    {
                        <div class="purchase-option">
                            <Box>
                                <div class="purchase-option-content">
                                    <p class="purchase-option-name">@method.Name</p>
                                    <MudSpacer/>
                                    <p class="purchase-option-cost">@StringProvider.CurrencyAmount(method.Cost)</p>
                                    @if (Item.AllowsPartialContributions)
                                    {
                                    <p class="purchase-option-cost-remaining">(Remaining: @StringProvider.CurrencyAmount(Item.RemainingCost()))</p>
                                    }
                                    @if (method.DeliveryCost > 0)
                                    {
                                        <p class="purchase-option-delivery-cost">@StringProvider.DeliveryCost(method.DeliveryCost)</p>
                                    }
                                </div>
                            </Box>
                        </div>
                    }
                    
                }
                @if (UserId != null && Item.NumClaimsByUser(UserId) > 0 && Item.GetClaimByUser(UserId).IsCompleted)
                {
                    <h2>@StringProvider.ItemPurchased</h2>
                    <p class="claim-item-description">@StringProvider.ThankYouForGift</p>
                    @if (Item.MaxQuantity > 1)
                    {
                        <p>@StringProvider.QuantityPurchased(Item.GetClaimByUser(UserId).Quantity)</p>
                    }
                    <p>@StringProvider.PurchaseMethod(Item.GetPurchaseMethodByUser(UserId).Name)</p>
                    @if (Item.GetPurchaseMethodByUser(UserId).AllowDeliverToUs || Item.GetPurchaseMethodByUser(UserId).AllowBringOnDay)
                    {
                        <p>@StringProvider.DeliveryAddress(Item.GetClaimByUser(UserId).DeliveryAddress)</p>
                    }
                    <p style="margin-top: 10px">@StringProvider.RegistryClaimedContact(WeddingDetails.LoginContactMethod?.Text)</p>
                    <h2>@StringProvider.Notes</h2>
                    <p class="claim-item-description">@StringProvider.NotesDescription</p>
                    <textarea rows="3" style="width: 100%;resize:none" placeholder="@StringProvider.NotesPlaceholder" @oninput="args => Notes = args.Value?.ToString() ?? string.Empty">@Notes</textarea>
                    @if (Notes != (Item.GetClaimByUser(UserId).Notes ?? ""))
                    {
                        <p class="text-danger claim-item-description">@StringProvider.YouHaveUnsavedChanges</p>
                        <Button OnClick="SaveNotes">@StringProvider.SaveNotes</Button>
                    }
                } else if (UserId != null && Item.NumClaimsByUser(UserId) > 0)
                {
                    @if (Item.GetClaimByUser(UserId).PurchaseMethodId == null)
                    {
                        <h2>@StringProvider.SelectPurchaseMethod</h2>
                        @if (Item.MaxQuantity > 1)
                        {
                            <p class="claim-item-description">@StringProvider.SelectedQuantity(Item.GetClaimByUser(UserId).Quantity) <a @onclick="RemoveClaim">[@StringProvider.Undo]</a></p>
                        }
                        <p>@StringProvider.SelectPurchaseMethodDescription</p>
                        <div class="choose-purchase-option">
                            @foreach (var method in Item.PurchaseMethods)
                            {
                                <a class="choose-purchase-option-method" @onclick="() => ChoosePurchaseMethod(method.Id)">
                                    <Box>
                                        <p class="purchase-option-name">@method.Name</p>
                                    </Box>
                                </a>
                            }
                        </div>
                    }
                    else if (Item.GetClaimByUser(UserId).DeliveryAddress == null && (Item.GetPurchaseMethodByUser(UserId).AllowBringOnDay || Item.GetPurchaseMethodByUser(UserId).AllowDeliverToUs))
                    {
                        <h2>@StringProvider.SelectDeliveryAddress</h2>
                        @if (Item.MaxQuantity > 1)
                        {
                            <p>@StringProvider.SelectedQuantity(Item.GetClaimByUser(UserId).Quantity) <a @onclick="RemoveClaim">[@StringProvider.Undo]</a></p>
                        }
                        <p class="claim-item-description">@StringProvider.SelectedPurchaseMethod(Item.GetPurchaseMethodByUser(UserId).Name) <a @onclick="() => ChoosePurchaseMethod(null)">[@StringProvider.Undo]</a></p>
                        <p class="claim-item-description">@StringProvider.SelectDeliveryAddressDescription</p>
                        @if (Item.GetPurchaseMethodByUser(UserId).AllowDeliverToUs)
                        {
                            @foreach (var address in DeliveryAddresses)
                            {
                                <a class="purchase-option" @onclick="() => ChooseDeliveryAddress(address)">
                                    <Box>
                                        <p class="purchase-option-name">@address</p>
                                    </Box>
                                </a>
                            }
                        }
                        @if (Item.GetPurchaseMethodByUser(UserId).AllowBringOnDay)
                        {
                            <a class="purchase-option" @onclick="() => ChooseDeliveryAddress(DeliveryAddressBringOnDay)">
                                <Box>
                                    <p class="purchase-option-name">@StringProvider.BringOnTheDay</p>
                                </Box>
                            </a>
                        }
                    }
                    else if (!Item.GetClaimByUser(UserId).IsCompleted)
                    {
                        <h2>@StringProvider.ItemReadyToPurchase</h2>
                        @if (Item.MaxQuantity > 1)
                        {
                            <p>@StringProvider.SelectedQuantity(Item.GetClaimByUser(UserId).Quantity) <a @onclick="RemoveClaim">[@StringProvider.Undo]</a></p>
                        }
                        <p>@StringProvider.SelectedPurchaseMethod(Item.GetPurchaseMethodByUser(UserId).Name) <a @onclick="() => {ChoosePurchaseMethod(null);ChooseDeliveryAddress(null);}">[@StringProvider.Undo]</a></p>
                        @if (Item.GetPurchaseMethodByUser(UserId).AllowDeliverToUs || Item.GetPurchaseMethodByUser(UserId).AllowBringOnDay)
                        {
                            <p>@StringProvider.SelectedDeliveryAddress(Item.GetClaimByUser(UserId).DeliveryAddress) <a @onclick="() => ChooseDeliveryAddress(null)">[@StringProvider.Undo]</a></p>
                        }
                        <p style="margin-top: 10px" class="claim-item-description">@StringProvider.ItemReadyToPurchaseDescription</p>

                        @if (!Item.GetPurchaseMethodByUser(UserId).Url.IsNullOrEmpty())
                        {
                            <LinkButton Url="@Item.GetPurchaseMethodByUser(UserId).Url">@StringProvider.GoToPurchasePage</LinkButton>
                        }
                        @if (!Item.GetPurchaseMethodByUser(UserId).Instructions.IsNullOrEmpty())
                        {
                            <p>@StringProvider.CustomPurchaseInstructions(Item.GetPurchaseMethodByUser(UserId).Instructions)</p>
                        }
                        <div style="margin-bottom: 10px"></div>
                        <Button OnClick="MarkCompleted">@StringProvider.MarkAsCompleted</Button>
                    }
                    <p class="claim-item-description" style="margin-top: 10px">@StringProvider.UnclaimDescription</p>
                    <Button OnClick="RemoveClaim">@StringProvider.Unclaim</Button>
                    
                } else if (Item.IsFullyClaimed)
                {
                    <h2>@StringProvider.ItemClaimed</h2>
                    <p>@StringProvider.ItemClaimedDescription</p>
                }
                else
                {
                    <h2>@StringProvider.ClaimThisItem</h2>
                    <p class="claim-item-description">@StringProvider.ClaimThisItemDescription</p>
                    @if (Item.MaxQuantity > 1)
                    {
                        <div class="quantity-selector">
                            <label for="quantity">@StringProvider.Quantity:</label>
                            <input id="quantity" type="number" min="1" max="@(Item.MaxQuantity - Item.QuantityClaimed)" @bind-value="SelectedQuantity"/>
                        </div>
                    }
                    @if (Item.AllowsPartialContributions)
                    {
                        <div class="contribution-selector">
                            <label for="contribution">@StringProvider.Contribution:</label>
                            <input id="Contribution" type="decimal" min="1.00" max="@Item.MaxCost" @bind-value="EnteredContribution"/>
                        </div>
                    }
                    <Button OnClick="ClaimItem">@StringProvider.Claim</Button>
                }
                <p class="text-danger">@ErrorText</p>
                
            </RightContent>
        </SideBySide>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <h1>Admin Section</h1>
                <h2>Claims</h2>
                @if (!Item.Claims.Any())
                {
                    <p>This item does not yet have any claims.</p>
                } 
                else if (RevealClaimsToAdmin)
                {
                    @foreach (var claim in Item.Claims)
                    {
                        <Box>
                            <p><b>User ID:</b> <a href="/admin/account/@claim.UserId">@claim.UserId</a></p>
                            <p><b>Purchase Method:</b> @(claim.PurchaseMethodId != null ? Item.GetPurchaseMethodByUser(claim.UserId).Name : "Not selected")</p>
                            <p><b>Delivery Address:</b> @(claim.DeliveryAddress ?? "Not selected")</p>
                            <p><b>Claimed At:</b> @claim.ClaimedAt.ToString()</p>
                            <p><b>Completed At:</b> @(claim.CompletedAt?.ToString() ?? "Not completed")</p>
                            <p><b>Quantity:</b> @claim.Quantity</p>
                            <p style="margin-bottom: 5px"><b>Notes:</b> @claim.Notes</p>
                            @if (claim.IsCompleted)
                            {
                                <Button OnClick="() => { RegistryService.MarkClaimAsNotCompleted(Item.Id, claim.UserId); Item = RegistryService.GetRegistryItemById(ItemId); StateHasChanged(); }">Unmark as Completed</Button>
                            }
                            else
                            {
                                <Button OnClick="() => { RegistryService.MarkClaimAsCompleted(Item.Id, claim.UserId); Item = RegistryService.GetRegistryItemById(ItemId); StateHasChanged(); }">Mark as Completed</Button>
                                <Button OnClick="() => { RegistryService.UnclaimRegistryItem(Item.Id, claim.UserId); Item = RegistryService.GetRegistryItemById(ItemId); StateHasChanged(); }">Remove Claim (cannot be undone)</Button>
                            }
                        </Box>
                    }
                }
                else
                {
                    <p class="claim-item-description">This section is capable of showing you detailed information about who has claimed this item, and how they are purchasing it. It's an opt-in basis, so you don't have to know who's buying what.</p>
                    <Button OnClick="() => { RevealClaimsToAdmin = true; StateHasChanged(); }">Reveal Claims</Button>
                }
                <h2>Edit Item Details</h2>
                <LinkButton Url="@EditUrl">Edit</LinkButton>
            </Authorized>
        </AuthorizeView>
    </Section>
</CascadingValue>


@code {
    [Parameter]
    public required string ItemId { get; set; }
    
    private RegistryItem? Item { get; set; }
    private string? UserId { get; set; }
    
    private string ErrorText { get; set; } = "";
    private string Notes { get; set; } = "";
    private string? SelectedQuantity { get; set; } = "1";
    private string? EnteredContribution { get; set; } = "0.00";
    
    private IEnumerable<string> DeliveryAddresses => WeddingDetails.NotablePeople.Where(p => p.Address != null).Select(p => p.Name + ", " + p.Address!);
    public static string DeliveryAddressBringOnDay => "Bring it on the day";

    private bool RevealClaimsToAdmin { get; set; } = false;
    private string EditUrl => $"/registry/edit/{ItemId}";

    protected override void OnInitialized() 
    {
        Item = RegistryService.GetRegistryItemById(ItemId);
        
        var authState = AuthStateProvider.GetAuthenticationStateAsync().Result;
        var user = authState.User;
        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            UserId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        }

        if (Item != null && UserId != null && Item.NumClaimsByUser(UserId) > 0)
        {
            Notes = Item.GetClaimByUser(UserId).Notes ?? "";
        }
    }
    
    private void ClaimItem()
    {
        if (Item == null) return;
        if (Item.IsFullyClaimed)
        {
            ErrorText = "This item has already been claimed.";
            StateHasChanged();
            return;
        }
        if (UserId == null)
        {
            ErrorText = "Failed to obtain user id. Please try again later, or try logging out and back in again.";
            StateHasChanged();
            return;
        }

        var quantity = 1;
        if (Item.MaxQuantity > 1)
        {
            if (!int.TryParse(SelectedQuantity, out quantity))
            {
                ErrorText = "Please enter a valid quantity.";
                StateHasChanged();
                return;
            }

            if (quantity > (Item.MaxQuantity - Item.QuantityClaimed) || quantity < 1)
            {
                ErrorText = $"Please enter a quantity between 1 and {Item.MaxQuantity - Item.QuantityClaimed}.";
                StateHasChanged();
                return;
            }
        }
        decimal contribution = 0.00M;  // TODO populate
        if (Item.AllowsPartialContributions)
        {
            if (!decimal.TryParse(EnteredContribution, out contribution))
            {
                ErrorText = "Please enter a valid contribution amount.";
                StateHasChanged();
                return;
            }

            if (contribution > Item.MaxCost)
            {
                ErrorText = $"Please enter a contribution between $0.00 and ${Item.MaxCost}.";  // TODO handle remaining cost
                StateHasChanged();
                return;
            }
        }

        var result = RegistryService.ClaimRegistryItem(Item.Id, UserId, contribution, quantity);
        if (!result)
        {
            ErrorText = "Sorry, this item has already been claimed by someone else.";
        }

        ErrorText = "";
        Item = RegistryService.GetRegistryItemById(ItemId);
        StateHasChanged();
    }
    
    private void RemoveClaim()
    {
        if (Item == null) return;
        if (UserId == null)
        {
            ErrorText = "Failed to obtain user id. Please try again later, or try logging out and back in again.";
            StateHasChanged();
            return;
        }
        var result = RegistryService.UnclaimRegistryItem(Item.Id, UserId);
        if (!result)
        {
            ErrorText = "Sorry, we were unable to remove your claim. Please try again later.";
        }

        Item = RegistryService.GetRegistryItemById(ItemId);
        StateHasChanged();
    }
    
    private void ChoosePurchaseMethod(string? methodId)
    {
        if (Item == null) return;
        if (UserId == null)
        {
            ErrorText = "Failed to obtain user id. Please try again later, or try logging out and back in again.";
            StateHasChanged();
            return;
        }
        RegistryService.ChoosePurchaseMethod(Item.Id, UserId, methodId);

        Item = RegistryService.GetRegistryItemById(ItemId);
        StateHasChanged();
    }

    private void ChooseDeliveryAddress(string? address)
    {
        if (Item == null) return;
        if (UserId == null)
        {
            ErrorText = "Failed to obtain user id. Please try again later, or try logging out and back in again.";
            StateHasChanged();
            return;
        }
        RegistryService.ChooseDeliveryAddress(Item.Id, UserId, address);

        Item = RegistryService.GetRegistryItemById(ItemId);
        StateHasChanged();
    }

    private void MarkCompleted()
    {
        if (Item == null) return;
        if (UserId == null)
        {
            ErrorText = "Failed to obtain user id. Please try again later, or try logging out and back in again.";
            StateHasChanged();
            return;
        }
        
        // Check that the purchase method is selected
        var claim = Item.GetClaimByUser(UserId);
        if (claim.PurchaseMethodId == null)
        {
            ErrorText = "Failed to mark as completed - please select a purchase method first.";
            StateHasChanged();
            return;
        }
        
        // Check that the delivery address is selected if required
        var method = Item.GetPurchaseMethodByUser(UserId);
        if ((method.AllowDeliverToUs || method.AllowBringOnDay) && claim.DeliveryAddress == null)
        {
            ErrorText = "Failed to mark as completed - please select a delivery address first.";
            StateHasChanged();
            return;
        }
        
        RegistryService.MarkClaimAsCompleted(Item.Id, UserId);
        Item = RegistryService.GetRegistryItemById(ItemId);
        StateHasChanged();
    }
    
    private void SaveNotes()
    {
        if (Item == null) return;
        if (UserId == null)
        {
            ErrorText = "Failed to obtain user id. Please try again later, or try logging out and back in again.";
            StateHasChanged();
            return;
        }
        
        RegistryService.SetClaimNotes(Item.Id, UserId, Notes == "" ? null : Notes);
        Item = RegistryService.GetRegistryItemById(ItemId);
        StateHasChanged();
    }
}
