@using WeddingWebsite.Components.Elements
@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Models.Accounts
@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Models.Theme
@using WeddingWebsite.Models.WebsiteConfig
@using WeddingWebsite.Services
@using Section = WeddingWebsite.Components.Sections.Section

@attribute [Authorize]

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IWebsiteConfig Config
@inject IWeddingDetails WeddingDetails
@inject IStringProvider StringProvider
@inject NavigationManager NavigationManager
@inject IRsvpForm RsvpConfig
@inject IAdminService AdminService

@rendermode InteractiveServer

<MudSnackbarProvider/>
<MudDialogProvider/>

<PageTitle>@StringProvider.Rsvp</PageTitle>

@if (!Config.OptionalFeatures.Rsvp.IsActive() || Guest == null)
{
    <p style="margin-top: 200px">You seem a bit lost. How about you go back to the <a href="/">homepage</a>?</p>
    return;
}

<CascadingValue TValue="SectionTheme" Value="ThemeNoBackground">
    <Section>
        <div class="form">
            <h1>@StringProvider.Rsvp for @Guest.Name</h1>
            @if (ReadOnly)
            {
                <p>As your RSVP has been submitted, it is read-only. If you need to make any changes, please contact @WeddingDetails.LoginContactMethod?.Text and we'll try our best to accommodate them.</p>
            }
            else if (EditMode)
            {
                <p>You may edit this RSVP on behalf of this guest.</p>
            }
            else
            {
                <p>Please complete this form once per guest. Your answers will not be saved until you submit, after which you will be unable to make any changes.</p>
            }
            
            <h2>Are you able to attend?</h2>
            <YesOrNoToggleGroup @bind-Value="IsAttending" ReadOnly="ReadOnly"/>
            
            @if (IsAttending == true)
            {
                <p>We're very pleased that you are able to come! Please answer a few questions to help us accommodate your preferences and requirements on the day.</p>
                <RsvpFormQuestions GuestId="@GuestId" Questions="RsvpConfig.YesQuestions" IsAttending="true" ReadOnly="ReadOnly" EditMode="EditMode" />
            }
            else if (IsAttending == false)
            {
                <p>That's a shame, we'll miss you!</p>
                <RsvpFormQuestions GuestId="@GuestId" Questions="RsvpConfig.NoQuestions" IsAttending="false" ReadOnly="ReadOnly" EditMode="EditMode" />
            }
        </div>
        
    </Section>
</CascadingValue>

<style>
    body {
        @(Theme?.Background.GetBackgroundCss() ?? Config.Colours.Surface.GetBackgroundCss()) !important;
    }
</style>

@code {
    [Inject]
    public required IAccountService AccountService { get; set; }
    
    [Parameter]
    public required string GuestId { get; set; }

    [Parameter] 
    public string? UserId { get; set; }

    private bool? IsAttending { get; set; }
    private bool ReadOnly { get; set; } = false;
    private bool EditMode { get; set; } = false;
    
    private Guest? Guest { get; set; }
    private SectionTheme? Theme => Config.RsvpConfig.Theme;
    private SectionTheme? ThemeNoBackground
    {
        get
        {
            if (Theme != null) return Theme with { Background = new NoBackground() };
            return null;
        }
    }

    private async Task GetGuest()
    {
        if (UserId != null)
        {
            Guest = AdminService.GetGuest(UserId, GuestId);
        }
        else
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;
            if (user.Identity is not { IsAuthenticated: true })
            {
                return;
            }
            
            var guests = AccountService.GetOwnGuests(user);
            Guest = guests.FirstOrDefault(g => g.Id == GuestId);
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        await GetGuest();

        if (Guest == null)
        {
            NavigationManager.NavigateTo("/rsvp");
            return;
        }
        
        if (!Config.OptionalFeatures.Rsvp.IsActive())
        {
            NavigationManager.NavigateTo("/");
            return;
        }

        if (Guest.Rsvp != RsvpStatus.NotResponded)
        {
            if (UserId == null)
            {
                ReadOnly = true;
            }
            else
            {
                EditMode = true;
            }
            IsAttending = Guest.Rsvp == RsvpStatus.Yes;
        }
    }

}
