@using WeddingWebsite.Data.Models
@using WeddingWebsite.Components.Elements
@using WeddingWebsite.Components.Containers
@using WeddingWebsite.Models.Accounts
@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Models.Theme
@using WeddingWebsite.Models.WebsiteConfig

@inject IWebsiteConfig Config
@inject IStringProvider StringProvider

<div class="guests-list">
    @foreach (var guest in Guests)
    {
        <Box>
            <div class="guest">
                <span class="guest-name">@guest.Name.Full</span>
                <MudSpacer/>
                @if (Config.OptionalFeatures.Rsvp.IsActive())
                {
                    var url = $"/rsvp/{guest.Id}";
                    @switch (guest.RsvpStatus)
                    {
                        case RsvpStatus.NotResponded:
                            <LinkButton Url="@url">@StringProvider.Rsvp</LinkButton>
                            break;
                        default:
                            <CascadingValue Value="GreyButtonTheme">
                                <LinkButton Url="@url">View RSVP</LinkButton>
                            </CascadingValue>
                            break;
                    }
                }
                else
                {
                    <button class="rsvp-disabled-button button" disabled>@StringProvider.Rsvp</button>
                }
            </div>
        </Box>
        <div style="margin-bottom: 10px"></div>
    }
</div>

@code {
    [Parameter]
    public required IEnumerable<GuestWithId> Guests { get; set; }
    
    [CascadingParameter]
    private SectionTheme? Theme { get; set; }
    
    private SectionTheme? GreyButtonTheme => Theme == null ? null : Theme with { Primary = new Colour(200, 200, 200) };
}